# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# my
Makefile
*.o
config.*
ltmain.sh
.deps
01847-test
01847-test-nolib
01847-temp
.libs
*.la
*.lo
libtool
*.tar.gz
*.log
*.trs
test-driver
tests/test_libknxusb
.dirstamp
example/01847-temp-reader
example/tplotd_setup.py
KNXTinySerial-test
KNXTinySerial-libtest
example/01847-sendmsg
example/01847-busmonitor
example/01847-busmonitor-nolib
example/01847-sendmsg-nolib
*.swp
*.swo
